{% block content %}

<!DOCTYPE html>
{% load static %}

<html lang="en">
	<head>
		<title>Mediumish - A Medium style template by WowThemes.net</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<link rel="icon" href="assets/img/favicon.ico">

		<!-- Bootstrap core CSS -->
		<link href="{% static './assets/css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">

		<!-- Fonts -->
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{% static './assets/css/mediumish.css' %}" rel="stylesheet">
	</head>
<body>

<div class="container">
	 <div class="w3-top" style="margin-left: -80px; right:0px;">
             <div class="w3-bar w3-black w3-card">
                 <a href="/" class="w3-bar-item w3-button w3-large  w3-hide-small w3-right w3-black"><i class="fa fa-home"></i></a>
                 <a href="." class="w3-bar-item w3-button w3-padding-large" style="justify-content: center;">DASHBOARD</a>
                 <a href="{% url 'contents:upload' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-center" style="justify-content: center;" >UPLOAD</a>
             </div>
	</div>

<!-- Begin Site Title
================================================== -->
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">DashBoard</h1>
		<p class="lead">
<!--            글씨적어도됨 -->
		</p>
	</div>
<!-- End Site Title
================================================== -->

	<!-- Begin Featured
	================================================== -->
	<section class="featured-posts">
	<div class="section-title">
		<h2><span>All Works</span></h2>
	</div>
	<div class="card-columns listfeaturedtag">
{% for content in contents_list %}
		<!-- begin post -->
		<div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="post.html">

                        <div class="thumbnail" style="background-image:url(/media/{{content.upload_file}}); margin-top:-2px;"></div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title" style="margin-top: 30px;font-size: 20px; font-family: 'MinSans-Medium';">{{content.title}}</h2>

						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb"></span>
								<span class="author-meta">
								<span class="post-name"></span><br/>
                                    <span class="post-read">
                                        <a class="a1" style="font-size: 20px; font-family: 'MinSans-Medium'" href="{% url 'contents:update' content.id %}"> 수정 </a>
									<a class="a2" style="font-size: 20px; font-family: 'MinSans-Medium'; font-family: 'MinSans-Medium'" href="{% url 'contents:delete' content.id %}"> 삭제 </a>
                                    </span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end post -->
        {%endfor%}
	</div>
	</section>
	<!-- End Featured
	================================================== -->

	<!-- Begin Footer
	================================================== -->
	<div class="footer">
		<p class="pull-left">
			 Copyright &copy; 2022 CMS
		</p>
		<p class="pull-right">
			 Mediumish Theme by <a target="_blank" href="https://www.wowthemes.net">WowThemes.net</a>
		</p>
		<div class="clearfix">
		</div>
	</div>
	<!-- End Footer
	================================================== -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/contents/static/assets/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="/contents/static/assets/js/bootstrap.min.js"></script>
<script src="/contents/static/assets/js/ie10-viewport-bug-workaround.js"></script>
</div>
</body>
</html>
{% endblock %}

