{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
this is contents update
<form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <p>콘텐츠 번호 : {{contents_info.id}}</p>
        <hr>
        <p>콘텐츠 제목 : {{contents_info.title}}</p>
        <p>콘텐츠 제목 변경 : {{contentsUploadForm.title}}</p>
        <hr>
        <p>콘텐츠 저작자 : {{contents_info.userFK_id}}</p>
        <hr>
        <p>콘텐츠 테마 : {{contents_in_themeValue}}</p>
        <p>콘텐츠 테마 변경
            <select name = "Theme">
            <option disabled = "True" selected>콘텐츠 테마 선택</option>
            {% for theme in theme_list %}
            <option>{{theme.themeValue}}</option>
            {% endfor %}
        </select></p>
        <hr>
        <p>콘텐츠 타입 : {{contents_info.contentType}}</p>
        <p>콘텐츠 타입 변경 : {{contentsUploadForm.contentType}}</p>
        <hr>
        <p>심사 여부 : {{contents_info.is_Accepted}}</p>
        <hr>
        <p>콘텐츠 파일명 : {{contents_info.upload_file}}</p>
        <img width="300px" height="500px" src = "/media/{{contents_info.upload_file}}" alt="NO Content">
        <p>콘텐츠 파일 변경 : {{contentsUploadForm.upload_file}}</p>
        <hr>
        <p>콘텐츠 소개글 : {{description_info.description}}</p>
        <p>콘텐츠 소개글 변경 : {{contentsDescriptionForm.description}}</p>
        <hr>
        <p>등록 일자 : {{contents_info.createDate}}</p>
        <hr>
        <p>수정 일자 : {{contents_info.lastEditDate}}</p>



    <input type="submit" class="btn btn-primary col-12" value="Submit">
    </form>

</body>

{% endblock %}