
{% block content %}

<h1>contents</h1>

<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>콘텐츠 이름 : {{contentsUploadForm.title}}</p>
        <!-- contents type 사용자 입력 삭제-->
        <p>콘텐츠 업로드 : {{contentsUploadForm.upload_file}}</p>
        <p>콘텐츠 소개글 : {{contentsDescriptionForm.description}}</p>

        <p><select name = "Theme">
            <option disabled = "True" selected>콘텐츠 테마 선택</option>
            {% for theme in theme_list %}
            <option>{{theme.themeValue}}</option>
            {% endfor %}
        </select></p>

        <input type="submit" class="btn btn-primary col-12" value="Submit">
    </form>
</div>
{% endblock %}
