<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{% static './assets/main.82cfd66e.css' %}" rel="stylesheet">
    <link href="{% static './assets/mycss.css' %}" rel="stylesheet">
    <title>게시글 수정</title>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#editcontents'
      });
    </script>
</head>
<body>
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <a href="{% url 'display:signage' %}" class="w3-bar-item w3-button w3-padding-large">GALLERY</a>
        <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">COMMUNITY</a>
      </div>
    </div>
    <div class="my_center">
        <a href="{% url 'posting' community.id post.id %}" class="my_right my_blue_txt">뒤로가기</a><br>
        <form method="POST"> <!--# 내부의 정보를 한번에 서버로 전송 GET은 정보를 가져옴, POST는 정보를 서버에 전송하여 서버 DB에 보낸 정보를 저장-->
            {% csrf_token %}
            제목<input type="text" class="form-control" name="postname"><br>
            내용<textarea rows="10" cols="50" name="contents" class="my_area" id="editcontents"></textarea><br>
            <input type="submit" class="btn btn-primary btn-lg my_right my_blue_btn" value="수정하기"> <!--# 버튼이 클릭되면 서버로 전송-->
        </form>
    </div>
</body>
</html>