<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{% static './assets/main.82cfd66e.css' %}" rel="stylesheet">
    <link href="{% static './assets/mycss.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css">
    <title>Title</title>
</head>
<body>
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">GALLERY</a>
        <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">COMMUNITY</a>
      </div>
    </div>
    <div class="detail-contents my_center">
        <p style="text-align: center">주제별 게시판</p>
        <hr>
        <div class="wrapper">
            <table>
                {% for list in communitylist %}
                    <ul class="nav">
                        <li><a href="{% url 'community' list.id %}">{{list.name}}</a></li>
                    </ul>
                {% endfor %}
            </table>
        </div>
    </div>
    <!--input class="input" placeholder="Tap on the virtual keyboard to start" />
      <div class="simple-keyboard"></div>

      <script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>
      <script src="src/index.js"></script-->
</body>
<script>
    const Keyboard = window.SimpleKeyboard.default;

    const myKeyboard = new Keyboard({
      onChange: input => onChange(input),
      onKeyPress: button => onKeyPress(button)
    });

    function onChange(input) {
      document.querySelector(".input").value = input;
      console.log("Input changed", input);
    }

    function onKeyPress(button) {
      console.log("Button pressed", button);
    }
</script>
</html>